.LocalOffices {
  .carousel-control-prev {
    height: fit-content;
    background: #5cb8ff;
    width: fit-content;
    padding: 6px;
    border-radius: 50%;
    position: absolute;
    top: 15.1rem;
  }
  .carousel-control-next {
    height: fit-content;
    background: #5cb8ff;
    width: fit-content;
    padding: 6px;
    border-radius: 50%;
    position: absolute;
    top: 15.1rem;
  }
  .carousel-indicators [data-bs-target] {
    height: 8px;
    width: 8px;
    border-radius: 50%;
  }
  .carousel-indicators {
    position: unset !important;
    margin-top: 50px !important;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
  }

  .carousel-indicators .active {
    background-color: var(
      --color-blue
    ); /* Change this to your desired color for the active indicator */
    border-color: var(
      --color-blue
    ); /* Match the border color with the background color or choose a different color */
    height: 8px;
    width: 8px;
  }

  /* Inactive indicator color */
  .carousel-indicators button {
    background-color: transparent; /* Change this to your desired color for the inactive indicators */
    border-color: transparent; /* Match the border color with the background color or choose a different color */
    border: 1px solid;
    height: 8px;
    width: 8px;
  }
  .blog_news {
    background-color: transparent !important;
  }
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    /* color: var(--bs-nav-tabs-link-active-color); */
    background-color: var(--bs-nav-tabs-link-active-bg);
    /* border-color: var(--bs-nav-tabs-link-active-border-color); */
    border-bottom: 3px solid #1f62ae !important;
    border: 1px 1px 1px 1px;
    color: 1F62AE !important;
  }
  .nav-tabs .nav-link.active {
    color: 1F62AE !important;
    /* border: none !important; */
  }
  .nav-tabs .nav-link.active {
    font-size: 20px !important;
    font-weight: 600;
    color: #1f62ae !important;
  }
  .nav-tabs .nav-link.active {
    font-size: 20px !important;
    font-weight: 600;
    color: #1f62ae !important;
  }
  #myTabs > li:nth-child(1) > a {
    font-family: var(--font-family-barlow);
    font-size: 20px !important;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #5e5e5e;
  }
  #myTabs > li:nth-child(2) > a {
    font-family: var(--font-family-barlow);
    font-size: 20px !important;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #5e5e5e;
  }
  #myTabs > li:nth-child(3) > a {
    font-family: var(--font-family-barlow);
    font-size: 20px !important;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #5e5e5e;
  }
  .accordion-button::after {
    display: none;
  }

  .accordion-button.collapsed::after {
    display: none;
  }

  .accordion-button {
    background-color: #ffffff;
  }
  .acord-btn {
    color: #5cb8ff !important;
    font-family: Source Sans Pro;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    letter-spacing: 0em;
  }
  /* start */
  .acor-title {
    font-family: Barlow Condensed;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0em;
    color: #1f62ae;
  }
  .acor-sub-title {
    font-family: Barlow Condensed;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0em;
    color: #5e5e5e;
  }
  .acrd-para {
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #5e5e5e;
  }
  .acrd-section-title {
    color: #363636;
    font-family: Barlow Condensed;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
  }
  .tab-content-main-head {
    color: #363636;
    font-family: Barlow Condensed;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
  }
  .tab-content-head {
    color: #363636;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
  }
  .tab-content-val {
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #5e5e5e;
  }
  .text-wrap-balance {
    text-wrap: balance;
  }
  .v-align {
    vertical-align: baseline;
  }
  .acrd-img {
    width: 73px;
    height: 47px;
  }
  .br-0 {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #5e5e5e;
  }
  /* end */
  .accordion-button.collapsed {
    background-color: #ffffff;
  }
  .accordion-header {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .accordion-button {
    color: #363636;
    font-size: 22px;
    font-weight: 600;
    color: var(--color-para);
    font-size: 22px;
    font-weight: var(--font-weight-600);
    line-height: 26px;
  }

  .accordion-button:not(.collapsed) {
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
      var(--bs-accordion-border-color);
  }
  .accordion-button:not(.collapsed):after {
    color: #ffffff !important;
  }

  .accordion-body {
    background-color: white;
    color: #000000;
  }
}
